.splash.pure-u-1
  .pure-g-r
    .pure-u-1-3
      .l-box
        %img{:src => 'assets/img/ruby-baseline.gif', :alt => 'Placeholder image for example'}
    .pure-u-2-3
      .l-box.splash-text
        %h1{:class => 'splash-head'}
          Gettig started with Ruby.
        %h2{:class => 'splash-subhead'}
          %quote
            “ I didn't work hard to make Ruby perfect for everyone, because you feel differently from me. No language can be perfect for everyone. I tried to make Ruby perfect for me, but maybe it's not perfect for you. The perfect language for Guido van Rossum is probably Python. ”
            %br/
            Yukihiro Matsumoto
        %p
          %a{:href => '#', :class => 'pure-button primary-button'}
            Get Started